@font-face {
    font-family: '07LogoTypeGothic7';
    src: url('../fonts/ロゴたいぷゴシック.otf');
}

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 12px;
    color: #333333;
    background-image: url("../img/city_background_image.png");
    background-size: 85% auto;
    background-repeat: repeat;
    width: 100%;
    max-width: 400;
}

.bigwrapper{
    text-align: center;
    margin: 30 auto;
}

.middleWrapper{
    text-align: center;
    margin: 10 auto;
}

.wrapper{
    text-align: center;
    margin: 2 auto;
}

.all-min-wrapper{
    margin: 2;
}

.titleWrapper{
    width: 100%;
    height: 150px;
    margin: 0 0 10 0;
    color: #FFFFFF;
}

.title_header{
    color: #FFFFFF;
    font-family: "07LogoTypeGothic7";
    font-size: 30px;
    text-align: center;
}

.subtitle{
    margin-left: 15px;
    color: #FFFFFF;
    font-family: "UD デジタル 教科書体 NK-R","UD Digi Kyokasho NK-R";
    font-weight: 100;
    text-align: center;
}

.svg-bg {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    z-index: -1;
}

.textInput{
    font-size: 2.5vh;
    width: 150px;
}

[class*="col-"] {
    margin:0;
    padding:0;
    vertical-align: middle;
}

// BOX
    .box {
        position: relative;
        margin: 0 0 40 0;
        padding: 13;
        border-radius: 0px 10px 10px 10px;
        background-color:  #FA6900;
        color:#FFFFFF;
        font-size: 13px;
        font-weight: 700;
        box-shadow: 5px 5px 0px 0 #CCC9BA;
    }
    .box .box-title {
        position: absolute;
        display: inline-block;
        top: -26px;
        left: -5px;
        padding: 0 9px;
        height: 30px;
        // line-height: 25px;
        font-size: 15px;
        font-weight: 700;
        background: #FA6900;
        color: #ffffff;
        border-radius: 10px 10px 0 0;
    }

// BOX_RANK
    .title-box3-title{
    color: #fff;
    font-weight: 700;
    background-color: #FA6900;
    padding: 4px 6px;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
    }

    .title-box3{
        background-color: #E0E4CC;
        border: 2px solid #FA6900;
        letter-spacing: .3px;
        margin: 10 0 20 0;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 2px 2px 0px 0 #CCC9BA;
      }

// MAP
    #map {
        height: 250px;
    }

// その他(オプション指定の価値観)
.hidden-target {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition:500ms;
}
.hidden-target.is-shown {
    height: auto;
    padding: auto;
    overflow: visible;
    opacity: 100;
}
.hidden-button.is-hidden {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}