{% extends 'dokosumi_app/base.html' %}

{% block content %}
{% load static %}
{% static "" as staticUrl %}
{% load widget_tweaks %}
<form method="get" action="{% url 'result_rank' %}" >

    {% comment %} 説明 {% endcomment %}
    <div class="alert alert-info" >
        あなたが住む街を選ぶとき<br>
        何をどれだけ重視するか教えてください。<br>
        <br>
        あなたにとって住みよい街を<br>
        首都圏1,533駅の中から検索します。
    </div>

    {% comment %} 職場の最寄り駅入力 {% endcomment %}
    <div class="bigwrapper">
        <div class="box">
            <div class="box-title">
                <img src="{{staticUrl}}icon/office.png" class="icon"></img>
                <div class="label">
                    <div class="heading">職場の最寄駅</div>
                    <div class="description">「東京」「神奈川」「千葉」「埼玉」の駅に対応</div>
                </div>
            </div>
            <span class="cp_iptxt">
                <label class="ef" style='margin:0;'>
                <input type="text" class="textInput" name="station_name" placeholder="指定しない">
                </label>
                <span>駅</span>
            </span>
        </div>
    </div>

    {% comment %} 価値観入力 {% endcomment %}
    <div class="bigwrapper">
        <div class="box">
            <div class="box-title">
                <img src="{{staticUrl}}icon/footStamp.png" class="icon"></img>
                <div class="label">
                    <div class="heading">通勤時間</div>
                    <div class="description">「職場の最寄り駅」への通勤時間</div>
                </div>
            </div>
            <div class="wrapper">
                <div  class="valueRange">
                    <div class="row">
                        <div class="col-6" style="margin-left:80px">
                            <input type="range" class="range" name="dist_to_office" min="0" max="100" value="0">
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <span class="value">0</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span class="descripion">気にしない</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} 価値観入力 {% endcomment %}
    <div class="bigwrapper">
        <div class="box">
            <div class="box-title">
                <img src="{{staticUrl}}icon/train.png" class="icon"></img>
                <div class="label">
                    <div class="heading">アクセスの良さ</div>
                    <div class="description">「乗り入れ路線数」「都心へのアクセス性」の高さ</div>
                </div>
            </div>
            <div class="wrapper">
                <div  class="valueRange">
                    <div class="row">
                        <div class="col-6" style="margin-left:80px">
                            <input type="range" class="range" name="access" min="0" max="100" value="0">
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <span class="value">0</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span class="descripion">気にしない</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} 価値観入力 {% endcomment %}
    <div class="bigwrapper">
        <div class="box">
            <div class="box-title">
                <img src="{{staticUrl}}icon/money.png" class="icon"></img>
                <div class="label">
                    <div class="heading">家賃の安さ</div>
                    <div class="description">賃貸の家賃相場の低さ</div>
                </div>
            </div>
            <div class="wrapper">
                <div  class="valueRange">
                    <div class="row">
                        <div class="col-6" style="margin-left:80px">
                            <input type="range" class="range" name="landPrice" min="0" max="100" value="0">
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <span class="value">0</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span class="descripion">気にしない</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} 価値観入力 {% endcomment %}
    <div class="bigwrapper">
        <div class="box">
            <div class="box-title">
                <img src="{{staticUrl}}icon/shopping.png" class="icon"></img>
                <div class="label">
                    <div class="heading">買い物のしやすさ</div>
                    <div class="description">駅周辺のスーパーの多さ</div>
                </div>
            </div>
            <div class="wrapper">
                <div  class="valueRange">
                    <div class="row">
                        <div class="col-6" style="margin-left:80px">
                            <input type="range" class="range" name="supermarket" min="0" max="100" value="0">
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <span class="value">0</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span class="descripion">気にしない</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} その他(オプション指定の価値観)     {% endcomment %}
    <div class="bigwrapper">
        <button type="button" class="hidden-button box otherBtn">
            <span style="margin:2px; vertical-align:middle;">その他の項目</span>
        </button>
    </div>

    <div class="hidden-target">

        {% comment %} 職場の最寄り駅入力 {% endcomment %}
        <div class="bigwrapper">
            <div class="box">
                <div class="box-title">
                    <img src="{{staticUrl}}icon/office.png" class="icon"></img>
                    <div class="label">
                        <div class="heading">パートナーの職場の最寄駅</div>
                        <div class="description">「東京」「神奈川」「千葉」「埼玉」の 1,533 駅に対応</div>
                    </div>
                </div>
                <span class="cp_iptxt">
                    <label class="ef" style='margin:0;'>
                    <input type="text" class="textInput" name="partners_station_name" placeholder="指定しない">
                    </label>
                    <span>駅</span>
                </span>
            </div>
        </div>

        {% comment %} 価値観入力 {% endcomment %}
        <div class="bigwrapper">
            <div class="box">
                <div class="box-title">
                    <img src="{{staticUrl}}icon/footStamp.png" class="icon"></img>
                    <div class="label">
                        <div class="heading">パートナーの通勤時間</div>
                        <div class="description">「パートナーの職場の最寄駅」への通勤時間</div>
                    </div>
                </div>
                <div class="wrapper">
                    <div  class="valueRange">
                        <div class="row">
                            <div class="col-6" style="margin-left:80px">
                                <input type="range" class="range" name="dist_to_partners_office" min="0" max="100" value="0">
                            </div>
                            <div class="col-1 d-flex align-items-center">
                                <span class="value">0</span>
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <span class="descripion">気にしない</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} 価値観入力 {% endcomment %}
        <div class="bigwrapper">
            <div class="box">
                <div class="box-title">
                    <img src="{{staticUrl}}icon/security.png" class="icon"></img>
                    <div class="label">
                        <div class="heading">治安の良さ</div>
                        <div class="description">駅周辺の「犯罪発生率」「風俗店」「パチンコ店」の数</div>
                    </div>
                </div>
                <div class="wrapper">
                    <div  class="valueRange">
                        <div class="row">
                            <div class="col-6" style="margin-left:80px">
                                <input type="range" class="range" name="security" min="0" max="100" value="0">
                            </div>
                            <div class="col-1 d-flex align-items-center">
                                <span class="value">0</span>
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <span class="descripion">気にしない</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} 価値観入力 {% endcomment %}
        <div class="bigwrapper">
            <div class="box">
                <div class="box-title">
                    <img src="{{staticUrl}}icon/park.png" class="icon"></img>
                    <div class="label">
                        <div class="heading">公園の多さ</div>
                        <div class="description">駅周辺の「都市公園」の総面積</div>
                    </div>
                </div>
                <div class="wrapper">
                    <div  class="valueRange">
                        <div class="row">
                            <div class="col-6" style="margin-left:80px">
                                <input type="range" class="range" name="park" min="0" max="100" value="0">
                            </div>
                            <div class="col-1 d-flex align-items-center">
                                <span class="value">0</span>
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <span class="descripion">気にしない</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} 価値観入力 {% endcomment %}
        <div class="bigwrapper">
            <div class="box">
                <div class="box-title">
                    <img src="{{staticUrl}}icon/river.png" class="icon"></img>
                    <div class="label">
                        <div class="heading">浸水危険度の低さ</div>
                        <div class="description">「ウォーターハザードマップ」の「浸水危険度」</div>
                    </div>
                </div>
                <div class="wrapper">
                    <div  class="valueRange">
                        <div class="row">
                            <div class="col-6" style="margin-left:80px">
                                <input type="range" class="range" name="flood" min="0" max="100" value="0">
                            </div>
                            <div class="col-1 d-flex align-items-center">
                                <span class="value">0</span>
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <span class="descripion">気にしない</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="wrapper">
        <button type="submit" id="send" class="search-btn" >検索</button>
    </div>

</form>

{% comment %} JavaScript {% endcomment %}
<script src="{% static 'js/search_rank.js' %}"></script>

{% endblock %}