{% extends 'dokosumi_app/base.html' %}

{% block content %}
{% load static %}
{% load widget_tweaks %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="bigwrapper">

            {% comment %} 職場の最寄り駅入力 {% endcomment %}
            <div class="bigwrapper">
                <div class="box">
                    <span class="box-title">職場の最寄駅</span>
                    <input type="text" class="textInput" name="station_name" placeholder="指定しない"> 駅
                </div>
            </div>

            {% comment %} 価値観入力 {% endcomment %}
            <div class="bigwrapper">
                <div class="box">
                    <span class="box-title">職場への距離</span>
                    <div class="wrapper">
                        <div  class="valueRange">
                            <div class="row">
                                <div class="col-6" style="margin-left:20px">
                                    <input type="range" class="range" name="dist_to_office" min="0" max="100" value="0">
                                </div>
                                <div class="col-1 d-flex align-items-center" style="margin: 0 auto;">
                                    <span class="value">0</span>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <span class="descripion">気にしない</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} 価値観入力 {% endcomment %}
            <div class="bigwrapper">
                <div class="box">
                    <span class="box-title">交通利便性</span>
                    <div class="wrapper">
                        <div  class="valueRange">
                            <div class="row">
                                <div class="col-6" style="margin-left:20px">
                                    <input type="range" class="range" name="access" min="0" max="100" value="0">
                                </div>
                                <div class="col-1 d-flex align-items-center" style="margin: 0 auto;">
                                    <span class="value">0</span>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <span class="descripion">気にしない</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} 価値観入力 {% endcomment %}
            <div class="bigwrapper">
                <div class="box">
                    <span class="box-title">家賃の安さ</span>
                    <div class="wrapper">
                        <div  class="valueRange">
                            <div class="row">
                                <div class="col-6" style="margin-left:20px">
                                    <input type="range" class="range" name="landPrice" min="0" max="100" value="0">
                                </div>
                                <div class="col-1 d-flex align-items-center" style="margin: 0 auto;">
                                    <span class="value">0</span>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <span class="descripion">気にしない</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} 価値観入力 {% endcomment %}
            <div class="bigwrapper">
                <div class="box">
                    <span class="box-title">治安の良さ</span>
                    <div class="wrapper">
                        <div  class="valueRange">
                            <div class="row">
                                <div class="col-6" style="margin-left:20px">
                                    <input type="range" class="range" name="security" min="0" max="100" value="0">
                                </div>
                                <div class="col-1 d-flex align-items-center" style="margin: 0 auto;">
                                    <span class="value">0</span>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <span class="descripion">気にしない</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} 価値観入力 {% endcomment %}
            <div class="bigwrapper">
                <div class="box">
                    <span class="box-title">緑地の多さ</span>
                    <div class="wrapper">
                        <div  class="valueRange">
                            <div class="row">
                                <div class="col-6" style="margin-left:20px">
                                    <input type="range" class="range" name="park" min="0" max="100" value="0">
                                </div>
                                <div class="col-1 d-flex align-items-center" style="margin: 0 auto;">
                                    <span class="value">0</span>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <span class="descripion">気にしない</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} 価値観入力 {% endcomment %}
            <div class="bigwrapper">
                <div class="box">
                    <span class="box-title">浸水危険度の低さ</span>
                    <div class="wrapper">
                        <div  class="valueRange">
                            <div class="row">
                                <div class="col-6" style="margin-left:20px">
                                    <input type="range" class="range" name="flood" min="0" max="100" value="0">
                                </div>
                                <div class="col-1 d-flex align-items-center" style="margin: 0 auto;">
                                    <span class="value">0</span>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <span class="descripion">気にしない</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    
    <div class="wrapper">
        <button type="submit" id="send" class="btn btn-info mb-5" style="width:140; background-color:#009900">検索</button>
    </div>
</form>
{% endblock %}