{% extends 'dokosumi_app/base.html' %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

    {% comment %} Twitterシェアボタン {% endcomment %}
    <div class="middleWrapper">
    <a href="https://twitter.com/intent/tweet?text=『わたしの住みよい街』: {{ town_score.station_name }}%0a&url=https://dokosumi.stuply.com/&hashtags=DOKOSUMIYOSHI,どこ住吉" 
        onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=100%%, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" 
        rel="nofollow" 
        class="twitter-link btn btn-info">あなたの住みよい街をTweet</a>
    </div>
    
    {% comment %} 駅ごとのスコアを一覧化 {% endcomment %}
            <div class="title-box3">
                <div id="station_name" class="title-box3-title">
                    {{ town_score.station_name }}
                </div>

                <div style="margin:10 0">
                    
                    <div style="margin:5 10">
                        {% comment %} <div id="map"></div> {% endcomment %}
                        <iframe src="https://maps.google.co.jp/maps?output=embed&ll={{ town_score.lat }},{{ town_score.lon }}&z=15" style='height:250; width:100%; border:none;'></iframe>
                        <div style="display:none;">
                            <div id="lat">{{ town_score.lat }}</div>
                            <div id="lon">{{ town_score.lon }}</div>
                        </div>
                    </div>

                    

                    {% comment %} スコア#1 {% endcomment %}
                    <div style="margin:5 10">
                        <div style="text-align:left">交通利便性</div>
                        <div class="progress" style="height: 12px;">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ town_score.access }}%; text-align:left; padding-left:5px;">
                                {{ town_score.access }} P
                            </div>
                        </div>
                    </div>

                    {% comment %} スコア#2 {% endcomment %}
                    <div style="margin:5 10">
                        <div style="text-align:left">家賃の安さ</div>
                        <div class="progress" style="height: 12px;">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ town_score.landPrice }}%; text-align:left; padding-left:5px;">
                                {{ town_score.landPrice }} P
                            </div>
                        </div>
                    </div>
                    
                    {% comment %} スコア#3 {% endcomment %}
                    <div style="margin:5 10">
                        <div style="text-align:left">治安の良さ</div>
                        <div class="progress" style="height: 12px;">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ town_score.security }}%; text-align:left; padding-left:5px;">
                                {{ town_score.security }} P
                            </div>
                        </div>
                    </div>
                    
                    {% comment %} スコア#3 {% endcomment %}
                    <div style="margin:5 10">
                        <div style="text-align:left">緑地公園の多さ</div>
                        <div class="progress" style="height: 12px;">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ town_score.park }}%; text-align:left; padding-left:5px;">
                                {{ town_score.park }} P
                            </div>
                        </div>
                    </div>
                    
                    {% comment %} スコア#4 {% endcomment %}
                    <div style="margin:5 10">
                        <div style="text-align:left">浸水危険度の低さ</div>
                        <div class="progress" style="height: 12px;">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ town_score.flood }}%; text-align:left; padding-left:5px;">
                                {{ town_score.flood }} P
                            </div>
                        </div>
                    </div>

                </div>

            </div>

<script src="{% static 'js/createMap.js' %}"></script>

{% endblock %}
